# Игнорировать файлы, созданные Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Игнорировать файлы виртуального окружения
venv/
ENV/

# Игнорировать файлы журналов
*.log
sensortower_bot.log.*

# Игнорировать временные файлы
/tmp/
.DS_Store
.coverage
.coverage.*
htmlcov/
*.swp
*.swo

# Игнорировать файлы с конфиденциальной информацией
.env
.secret

# Игнорировать файлы истории и блокировок
/tmp/coinbasebot_rank_history.txt
/tmp/coinbasebot.lock

# Игнорировать кэш
__pycache__/

# Игнорировать специфичные для IDE файлы
.idea/
.vscode/
*.sublime-workspace

# Игнорировать файлы Replit
.replit
replit.nix
.breakpoints